.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  border-bottom: rgb(167, 167, 167) 2px solid;
}

.header__fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background: white;
  animation-name: show__header;
  animation-duration: 1s;
}

@keyframes show__header {
  0% {
    opacity: 0;
    top: -66px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
} 

.header a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  letter-spacing: 3px;
}

.header__nav--link {
  margin-right: 20px;
  padding-bottom: 5px;
  transition: all 0.2s;
}

.header__login {
  width: 10%;
  text-align: center;
}

.header__login--link {
  margin-right: 20px;
}

.header__login--link:last-child {
  margin-right: 0;
}

.header__login--link i {
  font-size: 20px;
}

#header__logout--link {
  font-size: 15px;
  margin-right: 20px;
}

.header__link {
  font-weight: 700;
  font-size: 25px;
  transition: color 0.2s ease-out;
}

.header__link:hover {
  color: red
}

.header__nav--link:hover {
  border-bottom: 3px solid red;
}

.header__login--link:hover {
  color: red;
} 

.header__logout--link:hover {
  color: red;
}