.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 250px;
  gap: 10px;
}

.main__first {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
  background: url('https://robbreport.com/wp-content/uploads/2019/10/dior-mens-essentials-main.jpg?w=1000') center no-repeat;
  color: black;
  padding-left: 30px;
  padding-top: 200px;
}

.main__second {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  background: url('https://colorlib.com/preview/theme/shionhouse/assets/img/gallery/popular-imtes1.png') center no-repeat;
  color: black;
  padding-left: 30px;
  padding-top: 80px;
}

.main__third {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  background: url('https://scontent.fiev21-1.fna.fbcdn.net/v/t31.0-8/20901574_458960127810427_5027024085064783194_o.jpg?_nc_cat=101&_nc_sid=05277f&_nc_ohc=AX7hL8sUcqkAX98eDNY&_nc_ht=scontent.fiev21-1.fna&oh=bc1f7afb55b8a678f505eda2ea4e4c1c&oe=5F7848D7') center no-repeat;
  color: black;
  padding-left: 30px;
  padding-top: 80px;
}

.first__descr, .first__descr, .third__descr {
  width: 40%;
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 15px;
}