.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

.modal__dialog {
  max-width: 500px;
  margin: 40px auto;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close:hover {
  color: red;
}

.modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}
.modal__input {
  display: block;
  margin: 20px auto;
  width: 280px;
  height: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  outline: none;
}

.btn {
  display: block;
  width: 150px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  font-size: 15px;
  background: rgb(100, 100, 100);
  color: white;
  border-radius: 5px;
  transition: background 0.2s ease-in-out;
}

.btn:hover {
  background: rgb(68, 68, 68);
}

.show {
  display: block;
}

